.background {
  background-color: green;
  margin: auto;
  z-index: -1;
}

.label-text {
  background-color: darkgreen;
  color: yellow;
  margin: 10px;
  font-size: large;
}

.holdem-game {
  width: 100%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 20px;
}

.card-image {
  border: 1px solid black;
  border-radius: 12px;
  height: 150px;
  width: 100px;
  margin: auto;
}

.board {
  width: 80%;
  margin: auto;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  position: relative;
  border: none;
  border-radius: 3px;
  padding: 3px;
  margin: 3px;
  cursor: pointer;
  background-color: beige;
  color: black;
  font-size: large;
}