.background {
  background-color: green;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.label-text {
  background-color: white;
}
.holdem-game {
  width: 100%;
  height: 30%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.card-image {
  border: 1px solid black;
  border-radius: 12px;
  height: 150px;
  width: 100px;
  margin: auto;
}

.board {
  margin: auto;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}